{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins" : ["typescript", "decorators-legacy"],
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@.*$", "^[^.](.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
